
*{
    margin: 0;
    padding: 0;
}
/*生命值*/
#control {

    position: relative;
    top: 60px;
    height: 50px;
    width: 500px;
    border: 1px;
    display: flex;
    justify-content: center;
    align-content: center;
}

p {
    margin: 5px;
    width: 120px;
    color: #000;
}

#control > .heart {
    width: 250px;
    display: flex;
}

li {
    list-style: none;
    margin: 0 5px;
}

#control > .heart > li {
    height: 30px;
    width: 30px;
    background-image: url("./img/heart2.png");
    background-size: 100%;
}

#control > .heart > .heart1 {
    background-image: url("./img/heart1.png");
}

/*进度条*/
.sensitivity {
    width: 100px;
    position: relative;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #cccccc;
    border-radius: 1px;
    overflow: hidden;
}

.progress {
    height: 2px;
    width: 0;
    background-color: #57A3F3;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.dot {
    cursor: pointer;
    height: 6px;
    width: 6px;
    border: 2px solid #57A3F3;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left:  -3px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.dot:hover {
    cursor: pointer;
    border: 1px solid #57A3F3;
}

.scroll {
    margin: 15px;
    width: 500px;
    height: 5px;
    background: #ccc;
    position: relative;
}

.bar {
    width: 10px;
    height: 20px;
    background: #369;
    position: absolute;
    top: -7px;
    left: 0;
    cursor: pointer;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    background: #369;
    width: 0;
    height: 5px;
}

#star {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    float: left;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    animation-name: title;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

p {
    margin: 0;
}

@keyframes title {
    25% {
        transform: skew(-10deg);
    }

    50% {
        transform: skew(0deg);
    }
    75% {
        transform: skew(10deg);
    }
    100% {
        transform: skew(0deg);
    }
}